html {
  font-size: 62.9%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.slideanime {
  animation: sliding;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
}
.slidecover:hover .slideanime {
  animation-play-state: paused;
}

@keyframes sliding {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
